@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

body.lock {
  overflow: hidden;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Шрифты */
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

@media (max-width: 769px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
}

.logo {
  font-family: "Ribeye", cursive;
  cursor: pointer;
}

/* Шаблоны */
.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

.button {
  background: #c9453b;
  border-radius: 5px;
}

.button:hover {
  opacity: 0.6;
}

.button a {
  display: block;
  padding: 15px 35px;
  text-decoration: none;
  font-size: 0.9em;
  line-height: 150%;
  color: #ffffff;
}

.title {
  text-align: center;
  font-family: "Gelasio";
  font-weight: 500;
  font-size: 2.4em;
  line-height: 140%;
  color: #000000;
}

.subtitle {
  font-weight: 400;
  line-height: 160%;
  text-align: center;
  margin: 0 auto;
  color: #000000;
  opacity: 0.6;
}

/* Header */
.header {
  background-image: url("../images/HeaderBackground.png");
  background-size: cover;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  margin-top: 40px;
  margin-bottom: 200px;
}

@media (max-width: 769px) {
  .header__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 70px;
  }
}

.header__promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 250px;
}

@media (max-width: 769px) {
  .header__promo {
    margin-bottom: 70px;
  }
}

.header__title {
  max-width: 65%;
  margin-bottom: 30px;
}

@media (max-width: 769px) {
  .header__title {
    max-width: 90%;
  }
}

.header__title h1 {
  font-family: "Gelasio";
  font-weight: bold;
  font-size: 3.6em;
  line-height: 120%;
  color: #ffffff;
}

.header__text {
  max-width: 33%;
  margin-bottom: 40px;
}

.header__text p {
  color: #ffffff;
  opacity: 0.6;
}

@media (max-width: 769px) {
  .header__text {
    max-width: 50%;
  }
}

.header__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.header__burger {
  display: none;
}

@media (max-width: 769px) {
  .header__burger {
    margin: 15px 30px 0 0;
    z-index: 10;
    display: block;
    position: relative;
    width: 40px;
    height: 28px;
    cursor: pointer;
  }
  .header__burger span, .header__burger::before, .header__burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
  }
  .header__burger::before, .header__burger::after {
    content: "";
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header__burger.active span, .header__burger.active::before, .header__burger.active::after {
    background-color: #ffffff;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
    top: 50%;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
    bottom: 50%;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media (max-width: 480px) {
  .header__burger {
    margin: 15px 15px 0 0;
  }
}

.navigation__logo {
  font-size: 1.3em;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-right: 20px;
}

.navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}

@media (max-width: 769px) {
  .navigation__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    left: -100%;
    top: 0;
  }
  .navigation__menu.active {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    z-index: 10;
    background-color: #000000;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: 0;
    font-size: 1em;
  }
}

.navigation__link {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 150%;
  color: #ffffff;
  cursor: pointer;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  padding: 10px;
  border-radius: 50%;
  -webkit-transition: all 0.3ms ease;
  transition: all 0.3ms ease;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.navigation__link:hover {
  background: rgba(101, 114, 123, 0.2);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navigation__link:active {
  background: rgba(144, 164, 179, 0.2);
  opacity: 0.6;
}

@media (max-width: 769px) {
  .navigation__link {
    text-align: center;
    width: 100%;
    padding: 30px 0;
    border-radius: 0;
    font-size: 1.8em;
  }
}

.navigation__button {
  -ms-grid-column-align: right;
      justify-self: right;
  margin-left: 20px;
}

@media (max-width: 769px) {
  .navigation__button {
    display: none;
  }
}

/* Booking Now */
.booking-now.active {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  background-color: #000000;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  overflow: auto;
  left: 0;
  top: 0;
}

.booking-now__items {
  position: relative;
  display: none;
}

.booking-now__items.active {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 11;
  margin: auto;
  background-color: #ffffff;
  color: #000000;
  padding: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.booking-now__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 25px;
  width: 250px;
  font-size: 18px;
}

.booking-now__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  margin-bottom: 25px;
  font-size: 18px;
}

.booking-now__buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.booking-now__buttons input {
  padding: 5px;
}

.booking-now__close {
  position: relative;
  z-index: 20;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  cursor: pointer;
  margin-bottom: 10px;
  border: 3px solid #a70505;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.booking-now__close:hover {
  -webkit-transform: scale(1.1) rotate(90deg);
          transform: scale(1.1) rotate(90deg);
}

.booking-now__close span, .booking-now__close::after {
  position: absolute;
  height: 10%;
  width: 110%;
  background-color: #a70505;
}

.booking-now__close::after {
  content: "";
  -webkit-transform: rotate(45deg) translate(0, 50%);
          transform: rotate(45deg) translate(0, 50%);
  bottom: 50%;
}

.booking-now__close span {
  -webkit-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%);
  top: 50%;
}

/* Popular Location */
.popular-location__body {
  margin-top: 140px;
  margin-bottom: 140px;
}

@media (max-width: 769px) {
  .popular-location__body {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.popular-location__title {
  margin-bottom: 20px;
}

.popular-location__subtitle {
  max-width: 735px;
  margin-bottom: 50px;
}

.popular-location__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media (max-width: 769px) {
  .popular-location__items {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.popular-location__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.popular-location__item:hover {
  -webkit-box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.08);
}

.popular-location__img {
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 35px;
}

.popular-location__name {
  margin-bottom: 10px;
  font-family: "Gelasio";
  font-weight: 500;
  font-size: 1.3em;
  line-height: 150%;
  text-align: center;
  color: #000000;
}

.popular-location__info {
  line-height: 160%;
  text-align: center;
  color: #000000;
  opacity: 0.6;
}

/* Special Offers */
.special-offers__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 140px;
}

@media (max-width: 769px) {
  .special-offers__body {
    margin-bottom: 40px;
  }
}

.special-offers__title {
  margin-bottom: 20px;
}

.special-offers__subtitle {
  margin-bottom: 60px;
  max-width: 656px;
}

@media (max-width: 769px) {
  .special-offers__subtitle {
    margin-bottom: 60px;
  }
}

.special-offers__items-wrapper {
  max-width: 765px;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 769px) {
  .special-offers__items-wrapper {
    max-width: 510px;
  }
}

@media (max-width: 520px) {
  .special-offers__items-wrapper {
    max-width: 255px;
  }
}

.special-offers__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.special-offers__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 255px;
  padding-right: 10px;
}

.special-offers__image {
  margin-bottom: 20px;
  border-radius: 10px;
}

.special-offers__name {
  margin-bottom: 8px;
  font-family: "Gelasio";
  font-size: 1.3em;
  line-height: 150%;
  color: #000000;
}

.special-offers__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.special-offers__time {
  font-size: 0.9em;
  line-height: 150%;
  color: #000000;
  opacity: 0.6;
  margin-bottom: 8px;
}

.special-offers__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 150%;
  color: #000000;
}

.special-offers__cost {
  font-weight: 500;
}

.special-offers__person {
  opacity: 0.6;
  font-size: 0.8em;
}

.special-offers__buttons {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.special-offers__prev {
  position: relative;
  width: 3px;
  height: 15px;
  display: block;
  cursor: pointer;
}

.special-offers__prev span, .special-offers__prev::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 66%;
  background-color: #000000;
}

.special-offers__prev span {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-right: 20px;
}

.special-offers__prev::before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.special-offers__scroll-line {
  margin: 0 50px;
}

.special-offers__scroll-line span {
  display: block;
  width: 75px;
  height: 5px;
  background: #c9453b;
  border-radius: 10px;
}

.special-offers__next {
  position: relative;
  width: 3px;
  height: 15px;
  display: block;
  cursor: pointer;
}

.special-offers__next span, .special-offers__next::before {
  content: "";
  position: absolute;
  left: 100%;
  width: 100%;
  height: 66%;
  background-color: #000000;
}

.special-offers__next span {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-right: 20px;
}

.special-offers__next::before {
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.icons__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons__location img {
  width: 11px;
  height: 16px;
  margin-right: 10px;
}

.icons__location p {
  font-size: 1.1em;
  line-height: 150%;
  opacity: 0.6;
}

.icons__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons__rating img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/* Blog & News */
.news {
  margin-bottom: 140px;
}

@media (max-width: 769px) {
  .news {
    margin-bottom: 40px;
  }
}

.news__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__title {
  margin-bottom: 20px;
}

.news__subtitle {
  margin-bottom: 55px;
  max-width: 580px;
}

.news__viewport {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  gap: 30px;
}

@media (max-width: 1000px) {
  .news__viewport {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.viewport__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1000px) {
  .viewport__wrapper {
    max-width: 690px;
    overflow: hidden;
    margin: 0 auto;
  }
}

@media (max-width: 769px) {
  .viewport__wrapper {
    max-width: 460px;
  }
}

@media (max-width: 480px) {
  .viewport__wrapper {
    max-width: 230px;
  }
}

.viewport__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 1000px) {
  .viewport__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.viewport__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
}

@media (max-width: 1000px) {
  .viewport__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-right: 10px;
    min-width: 230px;
  }
}

.viewport__buttons {
  display: none;
}

@media (max-width: 1000px) {
  .viewport__buttons {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.viewport__prev {
  position: relative;
  width: 3px;
  height: 15px;
  display: block;
  margin-right: 100px;
  cursor: pointer;
}

.viewport__prev span, .viewport__prev::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 66%;
  background-color: #000000;
}

.viewport__prev span {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-right: 20px;
}

.viewport__prev::before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.viewport__next {
  position: relative;
  width: 3px;
  height: 15px;
  display: block;
  cursor: pointer;
}

.viewport__next span, .viewport__next::before {
  content: "";
  position: absolute;
  left: 100%;
  width: 100%;
  height: 66%;
  background-color: #000000;
}

.viewport__next span {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-right: 20px;
}

.viewport__next::before {
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.viewport__images {
  width: 263px;
  height: auto;
  margin-right: 30px;
  margin-bottom: 30px;
}

.viewport__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.viewport__name {
  margin-bottom: 10px;
  font-family: "Gelasio";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1em;
  line-height: 150%;
  color: #000000;
}

.viewport__info {
  margin-bottom: 10px;
  line-height: 160%;
  color: #000000;
  opacity: 0.6;
}

.viewport__user {
  font-size: 1.1em;
  line-height: 150%;
  color: #000000;
  opacity: 0.8;
}

.active__images {
  width: 100%;
  margin-bottom: 35px;
}

@media (max-width: 1000px) {
  .active__images {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.active__name {
  margin-bottom: 10px;
  font-family: "Gelasio";
  font-size: 1.1em;
  line-height: 160%;
  color: #000000;
}

.active__info {
  margin-bottom: 10px;
  line-height: 160%;
  color: #000000;
  opacity: 0.6;
}

.active__user {
  font-weight: 500;
  font-size: 1.1em;
  line-height: 150%;
  color: #000000;
}

/* Footer */
.footer {
  background: rgba(38, 148, 153, 0.04);
}

.footer__body {
  padding: 70px 15px 100px 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 1fr 2fr;
  gap: 15px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__logo {
  margin-bottom: 40px;
}

.info__contact {
  margin-bottom: 10px;
  font-size: 0.9em;
  line-height: 160%;
  letter-spacing: 0.06em;
  color: #000000;
}

.info__email {
  margin-bottom: 20px;
  font-size: 0.9em;
  line-height: 160%;
  letter-spacing: 0.06em;
  color: #000000;
}

.info__society {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.info__society a {
  margin-right: 27px;
}

.info__society a:last-child {
  margin-right: 0;
}

.services__menu {
  font-weight: 500;
  font-size: 0.9em;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 20px;
}

.services__links {
  display: block;
}

.services__link {
  font-weight: 500;
  font-size: 0.9em;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 20px;
}

.legal__menu {
  font-weight: 500;
  font-size: 0.9em;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 20px;
}

.legal__links {
  display: block;
}

.legal__link {
  font-weight: 500;
  font-size: 0.9em;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 20px;
}

.subscribe__name {
  font-weight: 500;
  font-size: 1.1em;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__input {
  max-width: 200px;
  margin-right: 35px;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.subscribe__button {
  font-size: 0.9em;
  line-height: 150%;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #c9453b;
  border-radius: 5px;
}
